# vim's temporary files
# (from https://github.com/github/gitignore/blob/master/Global/vim.gitignore)
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# compiled binaries
bin/

# nfs lock files
.nfs0000*

# OSX things
.DS_Store

# bundler config and gems
.bundle/

# PGP key files
*.asc
