[core]
  excludesfile = ~/.gitignore
  editor = vim

# from https://www.motowilliams.com/conditional-includes-for-git-config
# (requires git >= 2.13)
# these are also symlinked from $HOME
[includeIf "gitdir:~/src/"]
  path = .gitconfig-oss
[includeIf "gitdir:~/src/li/"]
  path = .gitconfig-work
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
